#index-carousel-div{
    background-image: linear-gradient(to right,rgba(0,0,0, 0),rgba(0,0,0, 100)),url('../images/index/root.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    height: 100%;
    background-attachment: fixed;
}
#index-carousel-text{
    position: relative;
    margin-top: 30%;
    color: white;
    text-align: center;
    font-size: 500%;
    background: rgba(0, 0, 0, 0.322);
}
#index-services-div{
    /* background-image:  linear-gradient(to left,rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.603)),url('../images/index/services.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center; */ 
     height: 100%;
    /* background: rgba(0, 0, 0, 0.644); */
}
#index-services-h3{
    color: white;
    margin-top: 8%;
}
.index-services-inner-div{
    height: 100%;
    /* background: rgba(0, 0, 0, 0.466); */
    margin: auto;
    position: relative;
    margin-top: 8%;
    /* border: 5px solid white; */
    /* box-shadow: 5px 5px  rgba(0, 0, 0, 0.295); */
}
.index-services-inner-div h4{
    color: white;
    text-align: center;
}
.index-services-inner-div img{
    display: block;
    margin: auto;
}
/* #index-services-inner-div-1{
    background-image: url('../images/index/web.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
} */